.mainContainer {
	width: 437px;
	height: 426px;
}
.container {
	border-radius: 20px;
	background-color: #f5f7f7;
	margin: 16px 0px;
}

.title {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	padding: 20px 100px;
}

.tableContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.innerContainer {
	z-index: 999;
	background-color: #ffffff;
	border: 1px solid hsla(218, 22%, 21%, 0.149);
	width: 429px;
	height: 355px;
	margin: 0px 4px 4px 4px;
	border-radius: 16px;
	box-shadow: 0 -10px 20px 0 #0c0f300d;
}

.table {
	padding: 20px 24px 0px 24px;
	display: flex;
	flex-direction: column;
}

.table_girls {
	padding: 0px 24px 0px 24px;
	display: flex;
	flex-direction: column;
}

.tableRow {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	padding: 0px 24px;
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.matchRow {
	width: 100%;
	padding: 2px 5px;
	border-radius: 6px;
}
.score {
	display: flex;
	color: #7d94a5;
	gap: 12px;
}

.teamRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.countryInfo {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: space-between;
}

.boldedScore {
	color: #2a3342;
	font-weight: 700;
}

.subtitleContainer {
	text-align: center;
}

.subtitleInnerContainer {
	display: flex;
	align-items: center;
}

.dashedLine {
	display: flex;
	flex: 1;
	height: 1px;
	border-top: 1px dashed #7d94a5;
	opacity: 40%;
}

.subtitle {
	margin: 0 16px;
	white-space: nowrap;
	color: #7d94a5;
	font-size: 16px;
}

.subtitle_girls {
	margin: 0 16px;
	white-space: nowrap;
	color: #7d94a5;
	font-size: 16px;
	padding: 5px 0px;
}

.list {
	padding-top: 4px;
	row-gap: 8px;
	display: flex;
	flex-direction: column;
}

.list_girl {
	row-gap: 8px;
	display: flex;
	flex-direction: column;
}

.innerCountryInfo {
	display: flex;
	gap: 8px;
	align-items: center;
}
.video {
	width: 437px;
	height: 426px;
	border-radius: 20px;
	object-fit: cover;
	margin-top: 16px;
	margin-bottom: 16px;
}
