.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.calendarContainer {
	display: flex;
	align-items: center;
	gap: 12px;
}
