.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 56px 60px 40px 60px;
}

.calendarContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 12px;
}

.dateContainer {
	display: flex;
	flex-direction: column;
	text-align: end;
	row-gap: 4px;
}

.logo {
	width: 197px;
}

.date {
	color: #2a3342;
	font-size: 18px;
	font-weight: 700;
}

.time {
	color: #2a3342;
	font-size: 16px;
	opacity: 0.6;
}

.video {
	width: 437px;
	height: 426px;
	border-radius: 20px;
	object-fit: cover;
	margin-top: 16px;
	margin-bottom: 16px;
}
