body {
	margin: 0;
	padding: 0;
	font-family: "Loos_Normal_Medium";
}

.background {
	position: absolute;
	width: 1550px;
	right: 0;
	height: 495px;
}

.flag {
	width: 24px;
	height: 24px;
	border-radius: 4px;
}

.container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	justify-items: center;
	align-items: center;
	padding: 0px 56px;
}

.container > :nth-child(1) {
	grid-area: 1 / 1 / 2 / 2;
}
.container > :nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}
.container > :nth-child(3) {
	grid-area: 1 / 3 / 2 / 4;
}
.container > :nth-child(4) {
	grid-area: 1 / 4 / 2 / 5;
}
.container > :nth-child(5) {
	grid-area: 2 / 1 / 3 / 2;
}
.container > :nth-child(6) {
	grid-area: 2 / 2 / 3 / 3;
}
.container > :nth-child(7) {
	grid-area: 2 / 3 / 3 / 4;
}
.container > :nth-child(8) {
	grid-area: 2 / 4 / 3 / 5;
}
