@font-face {
	font-family: "Helvetica Neue";
	src: url("./fonts/HelveticaNeueLTGEO-55Roman.woff2") format("woff2"),
		url("./fonts/HelveticaNeueLTGEO-55Roman.woff") format("woff"),
		url("./fonts/HelveticaNeueLTGEO-55Roman.ttf") format("truetype");
	font-style: normal;
	font-display: swap;
}

body,
html,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue";
}
